<div class="row">
<% @titles["bib"].each_with_index do |bib,i| %>
    <div class="col-md-1 portfolio-item">
        <a class="popup" href="<%= "#{openurl(bib['mms_id'],'viewit')}" %>">
            <img class="img-repsonsive related-thumb" src="<%= thumburl(bib['mms_id'])%>" alt="">
        </a>
    </div>
    <div class="col-md-3">
            <p class="lead"><%=bib["title"]%></p>
            <p><a class="btn btn-xs btn-default popup" href="<%= "#{openurl(bib['mms_id'],'viewit')}" %>">View item</a></p>
    </div>  
    <% if (i+1).modulo(3) == 0 %>
    	</div>
    	<div class="row">
    <% end %>  
<% end %>
</div>
<!-- paging --> 
<%= paging_html @titles["total_record_count"], "start", @limit %>
