<% content_for :title do %>Digital Repository<% end %>

<% if flash[:notice] %>
<div class="alert alert-success"><%=flash[:notice]%></div>
<% end %>

<div class="row-fluid">

       <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-4 col-xs-6 collection-thumb" style="background-image:url('<%="https://#{ENV["alma"]}.alma.exlibrisgroup.com#{@collection["thumbnail"]}"%>');">
        
            </div>
            <div class="col-md-8 col-xs-6">            
                <h2><%=@collection["name"]%></h2>
                <% if @collection["parent_pid"] %>
                    <small>
                    <%= link_to collection_path(@collection["parent_pid"]["value"]) do %>
                        <i class="fa fa-level-up" rel="tooltip" title="Parent collection"></i> PARENT COLLECTION
                    <% end %>
                    </small>
                <% end %>                
                <p><%=@collection["description"]%></p>
            </div>

        </div>
        <!-- /.row -->

        <% if @collection["collection"] %>
        <!-- Related Collections Row -->
        <div class="row">
         <h3 class="page-header">Related Collections</h3>
            <% @collection["collection"].each do |subcollection| %>
                <div class="col-md-2 portfolio-item">
                    <a href="<%= collection_path(subcollection["pid"]["value"])%>">
                        <img class="img-responsive related-thumb" src="<%="https://#{ENV["alma"]}.alma.exlibrisgroup.com#{subcollection["thumbnail"]}"%>" alt="">
                    </a>
                    <h4><%= link_to subcollection["name"], collection_path(subcollection["pid"]["value"])%></a></h4>
                </div>
            <% end %>
        </div>
        <!-- /.row -->
        <% end %>

        <% if @titles["total_record_count"] > 0 %>
        <!-- Collections members Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Titles in Collections</h3>
            </div>      
            <!-- div for AJAX -->
            <div id="titles">
                <%= render partial: 'titles', locals: @titles %>
            </div>
            
        </div>
        <% end %>
        <!-- /.row -->
                
    <hr/>

    <div class="span12">

    <%= link_to "Add a new deposit to the #{@collection["name"]} collection", deposit_path(collection: @collection["pid"]["value"]), class: 'btn btn-primary'%>
    </div>
</div>

<iframe style="display: none" id="delivery"></iframe>

<script>
$(document).ready(function() {

    // Load mash-up 
    $("#titles").on("click", "a.popup", function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        
        // hidden iFrame method (requires automatic open setting in Alma)
        $("#delivery").attr('src', url);

        // popUp method (screen flashes a bit in auto open setting)
        /*
        if (typeof $.fancybox != 'undefined') {
            $.fancybox(
                { href: url, closeBtn: true, width: '95%', height: '95%', preload: false,
                  type: 'iframe', iframe: { preload: false } }, 
                { helpers: { overlay: { opacity: 0.3 } } }
            ); // fancybox
        } else {
            window.open(url);
        }
        */
    }); // click

    $("#titles").on("click", "a.paging-link", function(e) {
        $("#titles").html('<%= image_tag "loading.gif" %>');
        var url='<%= collection_titles_path(@collection["pid"]["value"])%>';
        $("#titles").load(url + '?' + (this.href.split('?')[1] || ''));
        return false;

    });

    $("#titles").on("click", ".lightgallery-dynamic", function(e){
        $.getJSON( $(this).data('url'), function( data ) {
            $(this).lightGallery({dynamic: true, dynamicEl: data});
        });       
    });
});
</script

