<% content_for :title do %>Requests<% end %>

<%= render "shared/message" %> 

<div class="row-fluid">
    <div class="span12">
        <p>Here are your requests:</p>
        <table class="table table-striped">
            <tr><th>#</th><th>Title</th><th>Author</th><th>Pick Up Location</th><th></th></tr>
            <% if @requests["total_record_count"] > 0 
            	@requests["user_request"].each_with_index do |request,i| 
            		if request["request_type"] == "HOLD" %>
						<tr>
							<td><%=i+1%></td>
							<td><%=request["title"]%></td>
							<td><%=request["author"]%></td>
							<td><%=request["pickup_location"]%></td>
                            <td>
                                <%= link_to(cancel_request_path(request["request_id"]), class: "btn btn-default") do %>
                                    <i class="fa fa-trash-o"></i>
                                <% end %>
                            </td>
						</tr>
					<% end            	
            	 end %>
            <% else %>
            	<tr><td colspan="5">No requests found.</td></tr>
            <% end %>
        </table>
    </div>
</div>
