<%= stylesheet_link_tag "jquery.fileupload-ui" %>

<% content_for :title do %>New Deposit >> Files<% end %>

<div>
  <h2>Upload file(s)</h2>
  <%= s3_cors_fileupload_form_tag :id => 'fileupload', :acl => 'private' %>

  <div class="javascript-templates">
    <%= render 'template_upload' %>
    <%= render 'template_download' %>
    <%= render 'template_uploaded' %>
  </div>

  <a href=<%= deposits_path%> class="btn btn-default">Cancel</a>&nbsp;
  <a href=<%= deposit_confirm_path @deposit%> class="btn btn-primary">Next >></a> 
</div>

<script>
  //<![CDATA[
    $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
        dataType: 'xml',
        sequentialUploads: false,
        autoUpload: true
      });
      
      // Load existing files:
      $.getJSON('<%=deposit_filestreams_path%>', function (files) {
        $.each(files, function(index, value) { 
          $('#upload_files tbody').append(tmpl('template-uploaded', value));
        });
      });
    });
    
    // used by the jQuery File Upload
    var fileUploadErrors = {
      maxFileSize: 'File is too big',
      minFileSize: 'File is too small',
      acceptFileTypes: 'Filetype not allowed',
      maxNumberOfFiles: 'Max number of files exceeded',
      uploadedBytes: 'Uploaded bytes exceed file size',
      emptyResult: 'Empty file upload result'
    };
  //]]>
</script>