<% content_for :title do %>New Deposit >> Confirm<% end %>

<% if flash[:notice] %>
<div class="alert alert-success"><%=flash[:notice]%></div>
<% end %>

<div class="row-fluid">
    <div class="span12">
        <h3>Metadata:</h3>
       	<table class="table table-striped">
       		<tr><th>Field</th><th>Value</th></tr>
        	<% @deposit.metadata.each do |field| %>
        		<tr>
        			<td><%=field[0]%></td>
        			<td><%=field[1]%></td>
        		</tr>
        	<% end %>
        </table>

        <h3>Files:</h3>
        <table class="table table-striped">
            <tr><th>#</th><th>File name</th><th>File Type</th><th>File Size</th></tr>
            <% @deposit.source_files.each_with_index do |file,i|  %>
				<tr>
					<td><%=i+1%></td>
					<td><%=file["file_name"]%></td>
					<td><%=file["file_content_type"]%></td>
					<td><%=formatFileSize(file["file_size"])%></script></td>
				</tr>
			<% end %>
        </table>

        <p>Folder Name: <%=@deposit.folder_name%></p>
       <a href=<%= deposits_path%> class="btn btn-default">Cancel</a>&nbsp;
  	   <a href=<%= deposit_submit_path @deposit%> class="btn btn-primary">Submit Deposit</a> 
    </div>
</div>
