<% content_for :title do %>Edit Deposit<% end %>

<% if flash[:notice] %>
<div class="alert alert-success"><%=flash[:notice]%></div>
<% end %>

<div class="row-fluid">
	<%= form_tag(deposit_path(params[:id]), {method: :put, class: 'form-horizontal'} ) do  %>
    <div class="span12">
    	<h2>Metadata</h2>
      <%= render "metadata_form" %>
	    <div class="form-group">
	      <div class="col-sm-10">
          <%= button_tag "Update Metadata", class: "btn btn-primary", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Updating...".html_safe %>    
	      </div>
	    </div>
    </div>
  <% end %>

    <div class="span12">
    	<h2>Files</h2>
        <table class="table table-striped">
          <tr><th>#</th><th>File name</th><th>File type</th><th></th></tr>
          <% @deposit[:files].each_with_index do |file,i|  %>
						<tr id="file_<%=base64_encode(file.href)%>">
							<td><%=i+1%></td>
							<td><%=decode(file.href.split('/')[-1])%></td>
							<td><%=file.type%></td>
							<td>
	              <%= button_tag '', data: {
	                  type: 'DELETE',
	                  url: deposit_file_path(params[:id], base64_encode(file.href)),
	                  object_id: base64_encode(file.href)
	              }, class: 'btn btn-default delete' do%>
	              <i class="glyphicon glyphicon-trash"></i>
	              <% end %>								
							</td>
						</tr>
					<% end %>
        </table>

			<%= form_tag(deposit_path(params[:id]), {method: :put, multipart: true, class: 'form-horizontal'} ) do  %>

      <%= render "files_form" %>
	    <div class="form-group">
	      <div class="col-sm-10">
          <%= button_tag "Add files", class: "btn btn-primary", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Uploading...".html_safe %>    
	      </div>
	    </div>
    	<% end %>
    </div>

    <div class="span12">
    	<h2>&nbsp;</h2>
      <a href=<%= deposits_path%> class="btn btn-default">Cancel</a>  
      <a href="<%= @deposit[:view_url]%>" target="_blank" class="popup btn btn-default">View</a>
      <%= button_tag "Withdraw Deposit", class: "btn btn-danger", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Withdrawing...".html_safe %>    
      <%= button_tag "Submit Deposit", class: "btn btn-success", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Submitting...".html_safe %>    
    </div>
 </div>


<script>
// Delete deposit and hide row
$(".delete").click(function() {
    row = $('#file_' + $(this).data('object-id'));
    $.ajax({
        url: $(this).data('url'),
        type: $(this).data('type'),
        success: function(result) { 
           row.hide();
        }
    });
});
</script>