
<% content_for :title do %>Digital Deposits<% end %>

<% if flash[:notice] %>
<div class="alert alert-success"><%=flash[:notice].html_safe%></div>
<% end %>

<% n = 0 %>
<% @deposits["user_deposit"].sort_by!{|d|d['modification_date']}.reverse! %>

<div class="row-fluid">
    <div class="span12">
        <p>Here are your deposits in our repository:</p>
        <ul class="nav nav-tabs">
          <li role="presentation" <%= 'class=active' unless params[:completed]%>><%= link_to "In Progress", deposits_path%></li>
          <li role="presentation" <%= 'class=active' if params[:completed]%>><%= link_to "Completed", deposits_path(completed: true)%></li>
        </ul>
        &nbsp;
        <table class="table table-striped">
            <tr><th>#</th><th>Title</th><th>Created Date</th><th>ID</th><th>Status</th><th></th></tr>
            <% if @deposits["total_record_count"] > 0 
                @deposits["user_deposit"].each_with_index do |deposit,i| %>
                <% if (params[:completed] && completed?(deposit["status"])) || (!params[:completed] && !completed?(deposit["status"])) %>
                <tr id="deposit_<%=deposit["deposit_id"]%>">
                    <td><%=n+=1%></td>
                    <td><%= deposit["title"] || "N/A"%></td>
                    <td><%= deposit["submission_date"].to_date.strftime("%d %b %Y")%></td>
                    <td><%= deposit["deposit_id"]%></td>
                    <td><%= deposit["status"]%></td>
                    <td>
                        <% if viewable? deposit["status"] %>
                        <a class="btn btn-default" href="<%=deposit["delivery_url"]%>" target="_new" data-toggle="tooltip" title="View deposit">
                        <i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;
                        <% end %>
                        <% if editable? deposit["status"] %>
                        <a class="btn btn-default" href="<%=edit_deposit_path deposit["deposit_id"]%>" data-toggle="tooltip" title="Edit deposit">
                        <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <% end %>
                        </a>
                    </td>
                </tr>
                <% end %>
            <% end
            else %>
                <tr><td colspan="5">No deposits found.</td></tr>
            <% end %>
        </table>
    <%= link_to 'Add a new deposit', new_deposit_path, class: 'btn btn-primary'%>
    </div>
</div>

<script>
// Delete deposit and hide row
$(".delete").click(function() {
    row = $('#deposit_' + $(this).data('object-id'));
    $.ajax({
        url: $(this).data('url'),
        type: $(this).data('type'),
        success: function(result) { 
           row.hide();
        }
    });
});
</script>