
<% content_for :title do %>Digital Deposits<% end %>

<% if flash[:notice] %>
<div class="alert alert-success"><%=flash[:notice].html_safe%></div>
<% end %>

<div class="row-fluid">
    <div class="span12">
        <p>Here are your deposits in our repository:</p>
        <table class="table table-striped">
            <tr><th>#</th><th>Title</th><th>Created Date</th><th>ID</th><th>Status</th>
            <!--<th>Collection</th><th># of Files</th><th>Size of Files</th>-->
            <th></th></tr>
            <% @deposits.each_with_index do |deposit,i| %>
                <tr id="deposit_<%=deposit[:id]%>">
                    <td><%=i+1%></td>
                    <td><%= deposit[:title] || "N/A"%></td>
                    <td><%= deposit[:created_date]%></td>
                    <td><%= deposit[:id]%></td>
                    <td>Deposited</td>
                    <td>
                        <a class="btn btn-default" href="<%=edit_deposit_path deposit[:id]%>">
                        <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    </td>
                </tr>
            <% end %>
        </table>
    <%= link_to 'Add a new deposit', new_deposit_path, class: 'btn btn-primary'%>
    </div>
</div>

<script>
// Delete deposit and hide row
$(".delete").click(function() {
    row = $('#deposit_' + $(this).data('object-id'));
    $.ajax({
        url: $(this).data('url'),
        type: $(this).data('type'),
        success: function(result) { 
           row.hide();
        }
    });
});
</script>