<% content_for :title do %>New Deposit<% end %>

<% if flash[:notice] %>
<div class="alert alert-success"><%=flash[:notice]%></div>
<% end %>

<div class="row-fluid">
	<%= form_tag(deposits_path, {multipart: true, class: 'form-horizontal'} ) do  %>
  <div class="span12">
    <h2>Collection</h2>
    <div class="form-group">
      <%= label_tag 'collection', nil, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%=select_tag "collection", options_for_select(@deposit_profiles.map{|key, value| [value["title"], key]}), {class: "form-control"}%>
      </div>
      <div class="col-sm-2 control-label"><%= label_tag "Instructions"%></div>
      <div class="col-sm-10">
      <div class="panel panel-default">
        <div id="instructions" class="panel-body"></div>
      </div>
      </div>
    </div>
  </div> 

  <div class="span12">
    <h2>Metadata</h2>     
    <%= render "metadata_form" %>
  </div>

  <div class="span12">
   <h2>Files</h2>
   <%= render "files_form" %>
 </div>
 <div class="span12">
  <div class="form-group">
    <div class="col-sm-10">
      <a href=<%= deposits_path%> class="btn btn-default">Cancel</a>  
      <%= button_tag "Save Deposit as Draft", class: "btn btn-primary", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Uploading...".html_safe, value: 'draft' %>
      <%= button_tag "Submit Deposit", class: "btn btn-success", 'data-disable-with' => "<i class='fa fa-spinner fa-spin'></i> Uploading...".html_safe %>
    </div>
  </div>
</div>
<% end %>
</div>

<script>
  deposit_profiles = <%= JSON.pretty_generate(@deposit_profiles).html_safe%>

  function setInstructions() {
    $("#instructions").html(
      deposit_profiles[$("#collection").val()].collectionPolicy || "None"
    );
  }
  $(document).ready(function() {
    setInstructions();
    $("#collection").change(setInstructions);
  });
</script>