<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : ""%> - My Alma Library</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">    
    <link href="https://eu-st01.ext.exlibrisgroup.com/delivery/css/alma-delivery.css" media="screen" type="text/css" rel="stylesheet">
    <script src="https://eu-st01.ext.exlibrisgroup.com/delivery/js/alma-delivery.js" type="text/javascript"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>    
    <%= csrf_meta_tags %>
    <link href="<%= image_path("favicon.ico") %>" rel="Shortcut Icon">
</head>

  <body>

		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'My Alma Library', root_path, class: 'navbar-brand' %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
      				<li><%= link_to 'Home', root_path%></li>
      				<li class="dropdown">
      					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Library Card <span class="caret"></span></a>
      					<ul class="dropdown-menu" role="menu">
      						<li><%= link_to 'My Info', card_path%></li>
      						<li><%= link_to 'Requests', requests_path%></li>
                  <li><%= link_to 'Fines', fines_path%></li>
      					</ul>
              </li>
      				<li><%= link_to 'Digital Repository', collections_path%></li>
      	      <li><%= link_to 'Catalog', catalog_path%></li>
            </ul>
			<%= render "shared/login" %>            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>	
      
	<div class="container">  
		<% if controller_name != "home" %>
		<div class="page-header">
        	<h1><%= content_for?(:title) ? yield(:title) : ""%></h1>
    </div>    
    <% end %>
	  <div class="col-md-12"> <!-- inner content -->  
        <%= yield %>
    </div> <!-- inner content -->  
    <p>&nbsp;</p>
    <hr />
    <footer>
      <p>&copy; <%= Time.now.year %> - My Alma Library</p>
      <small>Home page image &copy; University of St. Thomas</small>
    </footer>
  </div> <!-- container -->
</body>
</html>
